@using Nhom11_QLHocThem.Areas.Admin.Model
@model List<GiaoVien>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách giáo viên</h2>
<form>
    <div class="row">
        <div class="left col">
            <div class="form-group">
                <label for="exampleFormControlInput1">Họ tên:</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nguyễn Xuân A">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Địa chỉ:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Ngày sinh </label>
                <input type="date">
            </div>
            <div class="form-group">
                <div>
                    <label for="">Giới tính</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                           value="option1">
                    <label class="form-check-label" for="inlineRadio1">Nam</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                           value="option2">
                    <label class="form-check-label" for="inlineRadio2">Nữ</label>
                </div>
            </div>


        </div>

        <div class="right col">
            <div class="form-group">
                <label for="exampleFormControlInput1">Số điện thoại:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleFormControlMTT">Môn học</label>
                <select class="form-control" id="exampleFormControlMTT">
                    <option>Toán</option>
                    <option>Lý</option>
                    <option>Hóa</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlMTT">Mức thanh toán</label>
                <select class="form-control" id="exampleFormControlMTT">
                    <option>MTT01</option>
                    <option>MTT02</option>
                    <option>MTT03</option>
                </select>
            </div>

        </div>
        <div class="col">

        </div>
        <div class="add">
            <button type="submit" class="btn btn-primary mb-2">Thêm</button>
        </div>
    </div>
</form>

<div class="teacher">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Họ tên</th>
                <th scope="col">Ngày sinh</th>
                <th scope="col">Giới tính</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">SĐT</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@item.TenGiaoVien</td>
                    <td>@item.NgaySinh</td>
                    <td>@item.GioiTinh</td>
                    <td>@item.DiaChi</td>
                    <td>@item.SDT</td>
                    <td class="text-info">Chi tiết</td>
                    <td class="text-info">Sửa</td>
                    <td class="text-info">Xóa</td>
                </tr>
            }

            
        </tbody>
    </table>
</div>

