@using Nhom11_QLHocThem.Areas.Admin.Model
@model List<GiaoVien>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách giáo viên</h2>

<div class="teacher mt-3">
    <div class="btn btn-primary">
        <a style="text-decoration:none" class="text-light" href="">Thêm</a>
    </div>
    <div class="mt-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Ngày sinh</th>
                    <th scope="col">Giới tính</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">SĐT</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">1</th>
                        <td>@item.TenGiaoVien</td>
                        <td>@item.NgaySinh</td>
                        <td>@item.GioiTinh</td>
                        <td>@item.DiaChi</td>
                        <td>@item.SDT</td>
                        <td class="text-info">Chi tiết</td>
                        <td class="text-info">Sửa</td>
                        <td class="text-info">Xóa</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
    
</div>

