@using Nhom11_QLHocThem.Areas.Admin.Model
@model List<LopHoc>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>*@
<div class="container">
    <div class="">

        <div class="d-flex flex-wrap mt-4">
            @foreach (var item in Model)
            {
            <div class="p-3">
                <div class="card" style="width: 18rem;">
                    @*<img class="card-img-top" src="https://c3phuctho.edu.vn/uploads/news/2017_03/55d6c5306ecd9.jpeg"
                         alt="Card image cap">*@
                    <div class="card-body">
                        <h5 class="card-title">@item.TenLopHoc</h5>
                        <p class="card-text">
                            Thời gian bắt đầu học:
                            @item.NgayBatDau.ToShortDateString()
                            <br />
                            Kết thúc ngày:
                            @item.NgayKetThuc.ToShortDateString()
                        </p>

                        <form action="/Admin/HocSinh_LopHoc/Create" method="post">
                            <input type="hidden" name="malophoc" value="@item.MaLopHoc" />
                            <input type="hidden" name="mahocsinh" value="@ViewBag.MaHS" />
                            <input type="hidden" name="dangky" value="" />
                            @foreach (var x in ViewBag.LopDaDangKy)
                            {
                                if (x.MaLopHoc == item.MaLopHoc)
                                {

                                    <button style="display:none;" class="text-light btn btn-info btn-sm" id="dangky">
                                        Đăng ký ngay
                                    </button>
                                    <button class="text-light btn btn-danger btn-sm" id="huydangky">
                                        Hủy đăng ký
                                    </button>

                                    break;
                                }
                                else
                                {
                                    <button class="text-light btn btn-info btn-sm" id="dangky">
                                        Đăng ký ngay
                                    </button>
                                    <button style="display:none;" class="text-light btn btn-danger btn-sm" id="huydangky">
                                        Hủy đăng ký
                                    </button>

                                    break;
                                }

                            }

                        </form>
                    </div>
                </div>
            </div>
            }

    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $("dangky").click(function () {
                $("#dangky").val("true")
            })
            $("huydangky").click(function () {
                $("#dangky").val("false")
            })
        })
    </script>
}