
@using Nhom11_QLHocThem.Areas.Admin.Model
@model List<BuoiHoc>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form method="post" action="/Admin/BuoiHoc/Search" class="d-flex mt-5">
    <div class="col-8 d-flex">
        <div class="col-2">
            <label class="form-label" for="malophoc">Mã lớp học</label>
            <input class="form-control" name="malophoc" id="malophoc" />
        </div>
        <div class="col-2">
            <label class="form-label" for="tengiaovien">Tên giáo viên</label>
            <input class="form-control" name="tengiaovien" id="tengiaovien" />
        </div>
        <div class="align-self-end">
            <button class="btn btn-secondary d-flex">
                <i class="far fa-search p-0"></i>
            </button>
        </div>
    </div>
</form>

<form method="post" class="d-flex">
    <button class="btn btn-primary d-flex mb-4 mt-3" onclick="return false" data-bs-toggle="modal" data-bs-target="#create" id="createBuoiHoc">
        <div>Thêm buổi học</div>
    </button>
    <div class="modal fade" id="create" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Thêm buổi học</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col">
                        <label class="form-label" for="malophoc">Mã lớp học</label>
                        <input class="form-control" readonly name="malophoc" id="malophoc-create" />
                    </div>
                    <div class="col">
                        <label class="form-label" for="tenlophoc">Tên lớp học</label>
                        <input class="form-control" readonly name="tenlophoc" id="tenlophoc-create" />
                    </div>
                    <div class="col">
                        <label class="form-label" for="ngayhoc">Ngày học</label>
                        <input class="form-control" type="date" name="ngayhoc" id="ngayhoc" />
                    </div>
                    <div class="col">
                        <label class="form-label" for="thoigian">Thời gian</label>
                        <div class="d-flex">
                            <input class="form-control" type="time" id="thoigian-bd" />
                            <input class="form-control" type="time" id="thoigian-kt" />
                            <input name="thoigian" id="thoigian-input" class="visually-hidden" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button class="btn btn-primary" id="create" formaction="/Admin/BuoiHoc/Create">Tạo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="d-flex justify-content-end">
    <label class="col-2">Mã lớp học: <span id="malophoc-span">@ViewBag.MaLopHoc</span></label>
    <label class="col-2">Tên lớp học: <span id="tenlophoc-span">@ViewBag.TenLopHoc</span></label>
    <label class="col-2">Giáo viên: <span id="tengiaovien-span">@ViewBag.TenGiaoVien</span></label>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ngày học</th>
            <th scope="col">Thời gian</th>
            <th scope="col">Số lượng học sinh</th>
            <th scope="col">Vắng</th>
            <th scope="col">Trạng thái</th>
            <th scope="col"></th>
        </tr>
    </thead>
    @{
        int i = 0;
        foreach (var item in Model)
        {
            i++;
            var trangthai = "Chưa học";
            if (item.NgayHoc < DateTime.Now)
            {
                trangthai = "Đã học";
            }
            var year = item.NgayHoc.Year.ToString();
            var month = item.NgayHoc.Month;
            var day = item.NgayHoc.Day;
            var _month = month.ToString();
            var _day = day.ToString();
            if (month<10)
            {
                _month = "0" + _month;
            }
            if (day < 10)
            {
                _day = "0" + _day;
            }
            var ngayhoc = _day + "/" + _month + "/" + year;
            <tbody>
                <tr class="user-select-none">
                    <td>@i</td>
                    <td>@ngayhoc</td>
                    <td id="thoigian">@item.ThoiGian</td>
                    <td>@item.SoLuongHocSinh</td>
                    <td>@item.Vang</td>
                    <td>@trangthai</td>
                    <td class="col-2">
                        <div class="d-flex">
                            <a class="btn btn-success me-3  ms-3" id="edit" href="/Admin/DiemDanh/Edit/@item.MaBuoiHoc">
                                Điểm danh
                            </a>
                            <form action="/Admin/BuoiHoc/Delete/@item.MaBuoiHoc" method="post">
                                <button class="btn btn-danger d-flex" id="delete">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        }
    }

</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#createBuoiHoc").click(function () {

                $("#malophoc-create").val($("#malophoc-span").text())
                $("#tenlophoc-create").val($("#tenlophoc-span").text())

                var thoigian = $("#thoigian").first().text()
                const thoigian_arr = thoigian.split("-")
                const thoigianbd = thoigian_arr[0].split("h")
                const thoigiankt = thoigian_arr[1].split("h")

                $("#thoigian-bd").val(thoigianbd[0] + ":" + thoigianbd[1])
                $("#thoigian-kt").val(thoigiankt[0] + ":" + thoigiankt[1])

            })

            $("#create").click(function () {

                var x = $("input#thoigian-bd").val()
                var y = $("input#thoigian-kt").val()
                const _x = x.split(":")
                const _y = y.split(":")
                $("#thoigian-input").val(_x[0] + "h" + _x[1] + "-" + _y[0] + "h" + _y[1])
                console.log($("#thoigian-input").val())
            })
            
        })
    </script>
}

