@model IEnumerable<Nhom11_QLHocThem.Areas.Admin.Model.LopHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaLopHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenLopHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HocPhi1Buoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongHocSinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HocPhiMotBuoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaGiaoVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaMonHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNienKhoa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaLopHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenLopHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HocPhi1Buoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongHocSinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HocPhiMotBuoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaGiaoVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaMonHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNienKhoa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
