@using Nhom11_QLHocThem.Areas.Admin.Model
@model List<HocSinh>

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form method="post" action="/Admin/BienLaiThuHP/Create">
    <div class="container d-flex">
        <div class="d-flex">
            <div class="row">
                <div class="col">
                    <label class="form-label" for="mahocsinh">Mã biên lai</label>
                    <input class="form-control" name="mahocsinh" id="mahocsinh" />
                </div>
                <div class="col">
                    <label class="form-label" for="thangnam">Thu cho Tháng-Năm</label>
                    <input class="form-control" name="thangnam" id="thangnam" />
                </div>
                <div class="col">
                    <label class="form-label" for="mahocsinh">Mã học sinh</label>
                    <input class="form-control" type="date" name="mahocsinh" id="mahocsinh" />
                </div>
                <div class="col">
                    <label class="form-label" for="tenhocsinh">Tên học sinh</label>
                    <input class="form-control" type="date" name="tenhocsinh" id="tenhocsinh" />
                </div>
                <div class="col">
                    <label class="form-label" for="ngaysinh">Ngày sinh</label>
                    <input class="form-control" name="ngaysinh" id="ngaysinh" />
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="d-flex flex-column ms-3">
                <button class="btn btn-primary mb-3" formaction="/Admin/HocSinh/Create">Thêm</button>
                <button class="btn btn-secondary " onclick="window.history">Quay lại</button>
            </div>
        </div>
    </div>
</form>

<div class="divider"></div>
<form method="post" action="/HocSinh/TimKiem" class="d-flex mt-5">
    <div class="col-8 d-flex">
        <div class="col-2">
            <label class="form-label" for="mahocsinh">Mã học sinh</label>
            <input class="form-control" name="mahocsinh" id="mahocsinh" />
        </div>
        <div class="col-2">
            <label class="form-label" for="tenhocsinh">Tên học sinh</label>
            <input class="form-control" name="tenhocsinh" id="tenhocsinh" />
        </div>
        <div class="align-self-end">
            <button class="btn btn-secondary d-flex">
                <i class="far fa-search p-0"></i>
            </button>
        </div>
    </div>
</form>

<div>
   <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Mã học sinh</th>
                <th scope="col">Tên học sinh</th>
                <th scope="col">Ngày sinh</th>
                <th scope="col">Giới tính</th>
                <th scope="col">SĐT</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @{
            int i = 0;
            foreach (var item in Model)
            {
                i++;
                <tbody>
                    <tr class="user-select-none">
                        <td>@i</td>
                        <td>@item.MaHocSinh</td>
                        <td>@item.TenHocSinh</td>
                        @if (item.NgaySinh == null)
                        {
                            <td>NULL</td>
                        }
                        else
                        {
                            <td>@item.NgaySinh.ToShortDateString()</td>
                        }
                        @{
                            if (item.GioiTinh == true)
                            {
                                <td>Nam</td>
                            }
                            else
                            {
                                <td>Nữ</td>
                            }
                        }
                        <td>@item.SDT</td>
                        <td>
                            <div class="d-flex justify-content-around">
                                <a class="btn text-success p-0 d-flex" id="edit" href="/Admin/HocSinh/Edit/@item.MaHocSinh">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn text-primary p-0 d-flex" id="edit" href="/Admin/HocSinh/Details/@item.MaHocSinh">
                                    <i class="fal fa-info-circle"></i>
                                </a>
                            </div>

                        </td>
                    </tr>
                </tbody>
            }
        }

    </table>
</div>

  

